:root{
  --bleed = 1;
}
@media print {

@page {
  size: 220mm 297mm;
  margin-top: 20mm;
  margin-bottom: 10mm;
  bleed:1mm;

  font-size: 11pt;
}

@page:left {
  margin-left: 10mm;
  margin-right: 25mm;
  @bottom-left {
    content: counter(page);
    font-size: 8pt;

  }

}

@page:right {
  margin-left: 25mm;
  margin-right: 10mm;
  @bottom-right {
    content: counter(page);
    font-size: 8pt;

  

}



article{
  break-before: page;
}
/* 
article {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
} */

aside {
  /* position: absolute;
  left:0; */

  float: left;
  font-weight: bold;
  width: 50mm;
  padding-top: 23mm;
}

main {
  /* position: absolute;
  right:0; */
  height: 100%;
  margin-left: 60mm;

  width: 125mm;
}

a {
  text-decoration: none;
  color: inherit !important;
}
h1 {
  font-size: 27pt;
  font-weight: normal;
  margin-top: 0;
}


section.recette {
  font-weight: bold;
}

li, p {
  margin: 5pt 0;
}


ul, ol {
  padding-left: 0;
  margin: 0;
}

hr {
  border:none;
  border-bottom: 1pt solid;
  margin: 10pt 0;
}
aside ul, aside ol {
  list-style: none;
}

section.tags ul {
  list-style: none;
  display: flex;
}


section.ingredients {
  margin-top: 10mm;
}

section.contexte,
section.auteurs,
section.astuces{
  font-size: 9.5pt;
}

section.contexte,
section.auteurs{
  font-style: italic;
}

section.tags {
  position: absolute;
  left:0;
  bottom: 0;
  font-size: 8pt;
}

section.tags li {
  margin:1mm;
}

.gallery {
  display: none;
}


.images.apres,
.images.avant{
  --pagedjs-full-page: page;
  width: 100%;
  height: var(--pagedjs-height);
  display: flex;
  flex-direction: column;
}
.images.apres img,
.images.avant img{
  object-fit: cover;
  object-position: 0px 0px;
  width: 100%;
  height: 100%;
}

.images.dans{
  width: 100%;
  position: absolute;
  bottom: -20mm;
  left: -20mm;
  z-index: -1;
}

/* 
.images {
  width : 100mm;
  height : 100mm;
  overflow: hidden;
}

.images.avant{
  break-after: page;
  border:2px solid green;
}


.images.apres{
  border:2px solid pink;
  break-after: page;
  break-before: page;

  margin: 0;
  width: calc(var(--pagedjs-pagebox-width) + --bleed);
  height: calc(var(--pagedjs-pagebox-height) + --bleed*2);
  position: absolute;
  top: calc((var(--pagedjs-margin-top) + --bleed)*-1);
  left: calc(var(--pagedjs-margin-left)*-1);
  overflow: hidden;


}


.images.dans{
  border:2px solid cyan;
} */