:root{
  --bleed:1;
}



@media print {

@page {
  font-family: "Liberation Serif", monospace;

  size: 210mm 297mm;
  margin-top: 20mm;
  margin-bottom: 10mm;
  bleed:1mm;

  font-size: 11pt;
}



.tags {
  string-set: tags content(text);
  display: none;
  
}

@page:left {
  margin-left: 10mm;
  margin-right: 25mm;

  @bottom-left {
    width:10mm;
    content: counter(page);
    font-size: 8pt;

  }
}


@page{
  @bottom-right {
    align-items: flex-start;
  }
  @bottom-left {
    align-items: flex-start;
  }
}

@page:right {
  margin-left: 25mm;
  margin-right: 10mm;

  @bottom-right {
    content: counter(page);
    width:10mm;
    font-size: 8pt;

  }
}


@page recette:right {
  @bottom-left {
    width:auto;
    content: string(tags);
    font-size: 8pt;
  }
}

@page recette:left {
  @bottom-right {
    width:auto;
    content: string(tags);
    font-size: 8pt;
  }
}




article{
  break-before: page;
}


aside {

  float: left;
  font-weight: bold;
  width: 45mm;
  padding-top: 15.5mm;
  font-size: 9pt;
}

main {
  height: 100%;
  margin-left: 55mm;

  width: 120mm;
}

a {
  text-decoration: none;
  color: inherit !important;
}
h1 {
  font-size: 27pt;
  font-weight: normal;
  margin-top: 0;
}


section.description {
 font-weight: bold;
 font-size: 9pt;
}

article.recette {
  page: recette;
}

section.recette {
  font-weight: normal;
}

li, p {
  margin: 5pt 0;
}


ul, ol {
  padding-left: 0;
  margin: 0;
}

ol li::marker {
  font-size: 9pt;
}

ul li::marker {
  content: '⚬ ';
}

hr {
  border:none;
  border-bottom: 0.5pt solid;
  margin: 10pt 0;
}
aside ul, aside ol {
  list-style: none;
}

aside ul li::marker{
  content: none;
}




section.ingredients {
  margin-top: 7mm;
}

section.ingredients ul {
  margin-bottom : 7mm;
}
section.contexte,
section.auteurs,
section.astuces{
  font-size: 9pt;
}

section.contexte,
section.auteurs{
  font-style: italic;
}


.gallery {
  display: none;
}


.images.apres,
.images.avant{
  --pagedjs-full-page: page;
  width: 100%;
  height: var(--pagedjs-height);
  display: flex;
  flex-direction: column;
}
.images.apres img,
.images.avant img{
  object-fit: cover;
  object-position: 0px 0px;
  width: 100%;
  height: 100%;
}

.images.dans{
  width: 100%;
  position: absolute;
  bottom: -20mm;
  left: -20mm;
  z-index: -1;
}

}


#Page_légale {
  page: page_legale;
  break-before: left;
}

#Page_de_garde {
  page: page_de_garde;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@page page_de_garde {
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@page page_legale {
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@page:blank {
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}


#Page_de_garde h1{
  /* display: none; */
  font-variant: all-petite-caps;
  font-weight: bold;
  font-size: 42pt;
}

#Page_de_garde>h1,
#Page_légale h1{
  display: none;
}

#Page_légale{
  font-size: 9pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
#Avant-propos, #Auteurs{
  break-before: right;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20mm;
}


#Avant-propos p:last-child {
  text-align: right;
}

#Auteurs ul {
  list-style: none;
}

#Auteurs li {
  display: inline;
}

#Auteurs li:after{
  content: ', '
}

#Auteurs li:last-child::after{
  content: '.';
}



#Sommaire,
#Index
{
  column-count: 2;
  column-gap: 10mm;
}

#Sommaire>ul,
#Index>ul
{
  list-style: none;
  margin-right:5mm;

}

#Sommaire>ul li::marker,
#Index>ul li::marker{
  content: none;
}


#Sommaire ul ul,
#Index ul ul
{
  list-style: none;
  margin-left:3mm;
}

#Sommaire h2,
#Index h2
{
  margin: 0;
}

#Index h2 {
  margin-top: 7mm;
}

.pagelink[href$="#Page_de_garde"],
.pagelink[href$="#Page_légale"]{
  display:none;
}

.pagelink::after
{
  margin-right: -5mm;
  content: target-counter(attr(href), page);
  float:right;
}

#Bibliographie a::after {
    content: "→ " attr(href);
    font-size: 8pt;
    display: block;
}



.references {
  display: none;
}

h4 {
  margin-bottom: 0;
}