:root{
  --bleed:1;
}



@media print {

@page {
  font-family: "Liberation Serif", monospace;

  size: 210mm 297mm;
  margin-top: 20mm;
  margin-bottom: 10mm;
  bleed:1mm;

  font-size: 11pt;
}

@page:left {
  margin-left: 10mm;
  margin-right: 25mm;
  @bottom-left {
    content: counter(page);
    font-size: 8pt;

  }

}

@page:right {
  margin-left: 25mm;
  margin-right: 10mm;

  @bottom-right {
    content: counter(page);
    font-size: 8pt;
  }


}



article{
  break-before: page;
}


aside {

  float: left;
  font-weight: bold;
  width: 45mm;
  padding-top: 17.5mm;
}

main {
  height: 100%;
  margin-left: 55mm;

  width: 120mm;
}

a {
  text-decoration: none;
  color: inherit !important;
}
h1 {
  font-size: 27pt;
  font-weight: normal;
  margin-top: 0;
}


section.recette {
  font-weight: bold;
}

li, p {
  margin: 5pt 0;
}


ul, ol {
  padding-left: 0;
  margin: 0;
}

hr {
  border:none;
  border-bottom: 1pt solid;
  margin: 10pt 0;
}
aside ul, aside ol {
  list-style: none;
}

section.tags ul {
  list-style: none;
  display: flex;
}


section.ingredients {
  margin-top: 10mm;
}

section.contexte,
section.auteurs,
section.astuces{
  font-size: 9.5pt;
}

section.contexte,
section.auteurs{
  font-style: italic;
}

section.tags {
  position: absolute;
  left:0;
  bottom: 0;
  font-size: 8pt;
}

section.tags li {
  margin:1mm;
}

.gallery {
  display: none;
}


.images.apres,
.images.avant{
  --pagedjs-full-page: page;
  width: 100%;
  height: var(--pagedjs-height);
  display: flex;
  flex-direction: column;
}
.images.apres img,
.images.avant img{
  object-fit: cover;
  object-position: 0px 0px;
  width: 100%;
  height: 100%;
}

.images.dans{
  width: 100%;
  position: absolute;
  bottom: -20mm;
  left: -20mm;
  z-index: -1;
}

}



#Page_de_garde {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


#Page_de_garde h1{
  display: none;
}

#Auteurs{
  column-count: 2;
}


#Sommaire,
#Index
{
  column-count: 2;
}

#Sommaire ul,
#Index ul
{
  list-style: none;
}
#Sommaire ul ul,
#Index ul ul
{
  margin-left:3mm;
}

#Sommaire h2,
#Index h2
{
  margin: 0;
}